// aboutus.less
.aboutus-header{
  .display();
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  background-color: @light-gray;
  @media @tablet{
    width: 100%;
  }
  @media @mobile{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px;
  }
  img{
    width: 100%;
    @media @mobile{
      display: none;
    }
  }
  h2{
    a{
      font-size: 4.5rem;
      text-decoration: none;
      color: @shadow;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: @bean;
      border: 2px solid @shadow;
      padding: 10px;
      @media @tablet{
        top: 50%;
      }
      @media @mobile{
        color: @light-gray;
        text-shadow: 3px 2px @shadow;
        font-size: 5rem;
        width: 70%;
      }
    }
    
    
  }
}

#brudnak{
  .display();
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  width: 70%;
  background-color: @brudnak-color;
  h2{
    color: @bean;
    @media @mobile{
      background-color: @bean;
      color: @shadow;
      padding: 5px;
    }
  }
  img{
    .about-img();
  }
  .about-brudnak{
    p{
      .about-p();
      margin-bottom: 20px;
    }
  }
  @media @tablet{
    width: 100%;
  }
  @media @mobile{
    position: absolute;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px dashed @black;
  }
}

#grams{
  .display();
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
  width: 70%;
  background-color: @grams-color;
  h2{
    color: @bean;
    @media @mobile{
      background-color: @bean;
      color: @shadow;
      padding: 5px;
    }
  }
  img{
    .about-img();
  }
  .about-grams{
    p{
      .about-p();
      margin-bottom: 20px;
    }
  }
  @media @tablet{
    width: 100%;
  }
  @media @mobile{
    position: absolute;
    top: 1850px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 1px dashed @black;
  }
}

#prins{
  .display();
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 70%;
  background-color: @prins-color;
  h2{
    color: @bean;
    @media @mobile{
      background-color: @bean;
      color: @shadow;
      padding: 5px;
    }
  }
  img{
    .about-img();
  }
  .about-prins{
    p{
      .about-p();
      margin-bottom: 20px;
    }
  }
  @media @tablet{
    width: 100%;
  }
  @media @mobile{
    position: absolute;
    top: 2500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: transparent;
  }
}

#back-top{
  padding-bottom: 20px;
  .display();
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 70%;
  height: 125px;
  background-color: @light-gray;
  @media @tablet{
    width: 100%;
    height: 100px;
  }
  @media @mobile{
    background-color: transparent;
  }
  .img-bottom{
    img{
      width: 100%;
      @media @mobile{
        display: none;
      }
    }
  }
  a{
    font-size: 4.5rem;
    text-decoration: none;
    color: @shadow;
    background-color: @bean;
    border: 2px solid @shadow;
    padding: 10px;
    position: absolute;
    top: 2650px;
    left: 50%;
    transform: translate(-50%, -50%);
    @media @tablet{
      top: 2580px;
    }
    @media @mobile{
      position: absolute;
      top: 2900px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      color: @light-gray;
      text-shadow: 3px 2px @shadow;
      font-size: 4rem;
    }
  }
}