.footer-home{
    .display();
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    a{
        margin: 0 40px;
        text-decoration: none;
        color: @font-color;
        font-size: 1.3rem;
        @media @mobile{
            margin: 0 20px;
            font-size: 1rem;
            color: @mobile-footer;
            font-weight: bold;
            text-align: center;
        }
    }  
    @media @mobile {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer-about{
    .display();
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    a{
        margin: 0 40px;
        text-decoration: none;
        color: @font-color;
        font-size: 1.3rem;
        @media @mobile{
            margin: 0 20px;
            font-size: 1rem;
            color: @mobile-footer;
            font-weight: bold;
            text-align: center;
        }
    }  
    @media @mobile {
        position: absolute;
        top: 2130px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer-contact{
    .display();
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    a{
        margin: 0 40px;
        text-decoration: none;
        color: @font-color;
        font-size: 1.3rem;
        @media @mobile{
            margin: 0 20px;
            font-size: 1rem;
            color: @black;
            text-align: center;
        }
    }  
    @media @mobile {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}