body {
    background-color: @main-background;
    .mobile-img {
        display: none;
        @media @mobile{
            display: block;
            height: 670px;
        }
    }
}

.home {
    .main-header{
      padding-bottom: 30px;
      .display();
      flex-direction: column;
      align-items: center;
      .header-img{
          width: 90%;
          @media @tablet{
            width: 100%;
          }
          @media @mobile{
            display: none;
          }
      }
      .text-header{
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
        .display();
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: @font-color;
        width: 30%;
        @media @tablet{
            top: 30%;
            width: 55%;
        }
        @media @mobile{
            top: 38%;
            width: 70%
        }
      }
      .button{
        .button-style();
      } 
      .button2{
        .button-style();
      }
    }
}