#home-nav{
    .display();
    padding: 25px 0 5px;
    width: 90%;
    margin: 0 auto;
    .navigation{
        a{
            margin: 0 40px;
            text-decoration: none;
            color: @font-color;
            font-size: 1.8rem;
            text-transform: lowercase;
            &:hover{
                text-transform: uppercase;
            }
            @media @mobile{
                margin: 0 10px;
                font-size: 1.4rem;
            }
        }
    }
    @media @mobile {
        padding: 0;
        width: 80%;
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
}

.about-nav{
    .display();
    padding: 25px 0 5px;
    width: 90%;
    margin: 0 auto;
    div{
        a{
            margin: 0 40px;
            text-decoration: none;
            color: @font-color;
            font-size: 1.8rem;
            text-transform: lowercase;
            &:hover{
                text-transform: uppercase;
            }
            @media @mobile{
                margin: 0 10px;
                font-size: 1.4rem;
                color: @vanilla;
            }
        }
    }
    @media @mobile {
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.contact-nav{
    .display();
    padding: 25px 0 5px;
    width: 90%;
    margin: 0 auto;
     a{
        margin: 0 40px;
        text-decoration: none;
        color: @font-color;
        font-size: 1.8rem;
        text-transform: lowercase;
        &:hover{
            text-transform: uppercase;
        }
        @media @mobile{
            margin: 0 10px;
            font-size: 1.4rem;
        }
    }
    @media @mobile {
        padding: 1rem;
        width: 80%;
        font-weight: bold;
    }
}