// Media variables
// Mobile
@mobile: ~"(max-width: 500px)";

// Tablet
@tablet: ~"(max-width: 900px)";

// Color assignments
@font-color: @black;
@button-color: @zinnwaldite;
@button-font: @light-gray;
@main: @shadow;
@main-background: @white;
@mobile-text: @white;
@mobile-background: @bean;
@heading-color: @shadow;
@brudnak-color: @light-gray;
@grams-color: @shadow;
@prins-color: @light-gray;
@mobile-footer: @vanilla;


// Colors
@black: #000000;
@white: #FFFFFF;
@bean: #1d1101;
@vanilla: #f8f2c2;
@light-gray: #D6CBCF;
@shadow: #88756E;
@zinnwaldite: #231C04;